.formwrapper {
    background-color: #f2f2f2;
}

.formwrapper h2{
    font-size: 35px;
    
}

.formwrapper input {
    box-shadow: 3px 3px blue;

}

.formwrapper button {
    margin: 10px;
    box-shadow: 3px 3px blue;
}
